.AddVacation{
    position: absolute;
    left: 50%; 
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top: 100px;
}

.AddVacation > form {
	width: 250px;
}

.AddVacation input {
    width: 100%;
    box-sizing: border-box;
    margin: 0 0 20px 0;
}

.AddVacation button {
    width: 100%;
    margin: 10px 0 20px 0;
}

.AddVacation span {
    position: fixed;
    color: red;
    margin-left: 270px;
    margin-top: -60px;
}
