.Login{
    position: absolute;
    left: 50%; 
    top: 50%;
    transform: translate(-50%, -50%);
}

.Login > form {
	width: 250px;
}

.Login input {
    width: 100%;
    box-sizing: border-box;
    margin: 0 0 20px 0;
}

.Login button {
    width: 100%;
    margin: 10px 0 20px 0;
}

.Login span {
    color: red;
    margin: 0 20px;
    position: absolute;
}

.Login a{
    text-decoration: none;
}

.Login h2{
    margin-bottom: 25px;
}
